<div class="table-container">
	<div class="table">
		<div class="first-column"><b>Status</b></div>
		<div class="second-column"><b>Project Id</b></div>
		<div class="third-column"><b>Projekt</b></div>
		<div class="fourth-column"><b>Rechnung an</b></div>
		<div class="fifth-column"><b>Betrag in EUR</b></div>
		<div class="sixth-column"><b>In Rechnung gestellt</b></div>
	</div>
	<div *ngFor="let project of projects$ | async">
		<app-project-info [project]="project"></app-project-info>
	</div>
</div>
