$font-size: 20px !default;
$background: #eee !default;
$margin-left-right: 20px !default;
$padding: 10px !default;
$margin-bottom: 2px !default;
$padding: 10px !default;
$row-heigth: 100px !default;
$img-size: 25px !default;
$ready: #00ff00 !default;
$open: #ff0000 !default;
$waiting: #cccccc !default;
$check: #ffff00 !default;
$dark-color: #000 !default;
$dark-background: #eee !default;
$light-background: #fff !default;
$line-height: 48px !default;
$color-width: 5px !default;
$row-radius: 20px !default;
$border-height: 2px !default;

.table-container {
	margin-left: $margin-left-right;
	margin-right: $margin-left-right;
}

.mat-icon {
	width: $img-size;
	height: $img-size;
	cursor: pointer;
}

table {
	width: 100%;
}

th {
	color: $dark-color;
}

.mat-row {
	background-color: $dark-background;
}

[class*='mat-column'] {
	border-bottom: 2px solid $light-background;
}

.mat-column-state {
	width: 10%;
	background-color: $light-background;

	.state-container {
		display: flex;
		align-items: center;
		background-color: $dark-background;
		.color {
			width: $color-width;
			height: $line-height;
			margin-right: calc($margin-left-right / 2);
		}
	}
}

.mat-column-id {
	width: 10%;
}

.mat-column-project {
	width: 25%;
}

.mat-column-invoiceTarget {
	width: 25%;
}

.mat-column-amount {
	width: 10%;
}

.mat-column-billable {
	width: 10%;
}

.mat-column-minus {
	width: 5%;
}

.mat-column-arrow {
	width: 5%;
}

tbody {
	.mat-column-arrow {
		background-color: $dark-background;
		margin-right: 20px;
	}
}

* {
	font-size: $font-size;
	box-sizing: border-box;
}

.done {
	background-color: $ready;
}

.waiting {
	background-color: $waiting;
}

.check {
	background-color: $check;
}

.open {
	background-color: $open;
}

@media only screen and (max-width: 950px) {
	.mat-table {
		.mat-header-row {
			display: none;
		}
		.mat-row {
			display: flex;
			flex-flow: wrap column;
			height: auto;
			top: 0;
			width: 100%;
			margin: 0;
			padding: $padding * 2;
			border: $border-height solid $light-background;
			border-radius: $row-radius;

			* {
				width: 100%;
			}
		}

		.mat-column-state {
			.color {
				display: none;
			}
		}

		[data-state] {
			display: flex;
			justify-content: space-between;
		}

		[data-state]::before {
			content: attr(data-state);
		}

		[data-id]::before {
			content: attr(data-id);
		}

		[data-project]::before {
			content: attr(data-project);
		}

		[data-target]::before {
			content: attr(data-target);
		}

		[data-amount]::before {
			content: attr(data-amount);
		}

		[data-billable]::before {
			content: attr(data-billable);
		}

		[class*='mat-column'] {
			display: flex;
			justify-content: space-between;
			border-bottom: none;
		}

		.mat-column-state,
		.mat-column-id,
		.mat-column-name,
		.mat-column-invoiceTarget,
		.mat-column-amount,
		.mat-column-billable {
			padding-top: $padding;
			padding-bottom: $padding;
			border-bottom: calc($border-height / 2) solid $light-background;
		}

		td.mat-cell:first-of-type,
		td.mat-cell:last-of-type {
			padding-left: 0;
			padding-right: 0;
			padding-top: $padding;
			padding-bottom: $padding;
			background-color: $dark-background;
		}
	}
}
