$font-size: 20px !default;
$background: #eee !default;
$margin-left-right: 20px !default;
$margin-bottom: 2px !default;
$padding: 10px !default;
$row-heigth: 100px !default;
$img-size: 25px !default;
$ready: #00ff00 !default;
$open: #ff0000 !default;
$waiting: #cccccc !default;
$check: #ffff00 !default;
$dark-color: #000 !default;
$dark-background: #eee !default;
$light-background: #fff !default;
$line-height: 48px !default;
$color-width: 5px !default;

.table-container {
	margin-left: $margin-left-right;
	margin-right: $margin-left-right;
}

.mat-icon {
	width: $img-size;
	height: $img-size;
	cursor: pointer;
}

table {
	width: 100%;
}

th {
	color: $dark-color;
}

.mat-row {
	background-color: $dark-background;
}

[class*='mat-column'] {
	border-bottom: 2px solid $light-background;
}

.mat-column-status {
	width: 10%;
	background-color: $light-background;

	.status-container {
		display: flex;
		align-items: center;
		background-color: $dark-background;
		.color {
			width: $color-width;
			height: $line-height;
			margin-right: calc($margin-left-right / 2);
		}
	}
}

.mat-column-id {
	width: 10%;
}

.mat-column-project {
	width: 25%;
}

.mat-column-invoiceTarget {
	width: 25%;
}

.mat-column-amount {
	width: 10%;
}

.mat-column-billable {
	width: 10%;
}

.mat-column-minus {
	width: 5%;
}

.mat-column-arrow {
	width: 5%;
}

tbody {
	.mat-column-arrow {
		background-color: $dark-background;
		margin-right: 20px;
	}
}

* {
	font-size: $font-size;
	box-sizing: border-box;
}

.status3 {
	background-color: $ready;
}

.status1 {
	background-color: $waiting;
}

.status4 {
	background-color: $check;
}

.status2 {
	background-color: $open;
}
