$font-size: 20px !default;
$background: #eee !default;
$margin-left-right: 20px !default;
$margin-bottom: 2px !default;
$padding: 10px !default;
$row-heigth: 100px !default;

.table-container {
	margin-left: $margin-left-right;
	margin-right: $margin-left-right;
}

.table {
	width: 100%;
	display: grid;
	grid-template-rows: repeat($row-heigth);
	grid-template-columns: 0.1fr 1fr 1fr 3fr 3fr 1fr 1fr 0.2fr 0.2fr;
	margin-right: $margin-left-right;
	margin-bottom: $margin-bottom;
	padding: $padding;

	.first-column {
		grid-column: 2;
		grid-row: 1;
	}

	.second-column {
		grid-column: 3;
		grid-row: 1;
	}

	.third-column {
		grid-column: 4;
		grid-row: 1;
	}

	.fourth-column {
		grid-column: 5;
		grid-row: 1;
	}

	.fifth-column {
		grid-column: 6;
		grid-row: 1;
	}

	.sixth-column {
		grid-column: 7;
		grid-row: 1;
	}

	.seventh-column {
		grid-column: 8;
		grid-row: 1;
	}

	.eighth-column {
		grid-column: 9;
		grid-row: 1;
	}
}

* {
	font-size: $font-size;
	box-sizing: border-box;
}
