$radius: 5px !default;
$background: #eee !default;
$margin: 15px !default;
$red: #ff0000 !default;
$green: #00ff00 !default;

.card {
	border-radius: $radius;
	background-color: $background;
}

hr {
	width: 95%;
	height: 0;
	margin-bottom: $margin;
}

.red {
	color: $red;
}

.green {
	color: $green;
}
