<div class="card">
	<mat-grid-list cols="3" rowHeight="75px">
		<mat-grid-tile></mat-grid-tile>
		<mat-grid-tile><b>Stunden</b></mat-grid-tile>
		<mat-grid-tile><b>Betrag in E</b></mat-grid-tile>
		<mat-grid-tile>Summe (?)</mat-grid-tile>
		<mat-grid-tile>
			{{
				project.invoiceItemTotal.hours | number: '2.2-2'
			}}</mat-grid-tile
		>
		<mat-grid-tile>
			{{
				project.invoiceItemTotal.amount
					| currency: 'EUR':'symbol':'2.2-2':'de'
			}}
		</mat-grid-tile>
	</mat-grid-list>
	<hr />
	<mat-grid-list cols="3" rowHeight="75px">
		<mat-grid-tile>
			<div class="tile-content">
				<p><b>Gesamtsumme</b></p>
				<p>exkl. MwSt und Handlingfee</p>
			</div>
		</mat-grid-tile>
		<mat-grid-tile>
			<b>{{ project.invoiceItemTotal.hours | number: '2.2-2' }}</b>
		</mat-grid-tile>
		<mat-grid-tile>
			<b>{{
				project.invoiceItemTotal.amount
					| currency: 'EUR':'symbol':'2.2-2':'de'
			}}</b>
		</mat-grid-tile>
		<mat-grid-tile>
			<div class="tile-content">
				<b>Inkl. Handlingfee</b>
			</div>
		</mat-grid-tile>
		<mat-grid-tile>
			<b>{{ project.invoiceItemTotal.handlingFee }} %</b>
		</mat-grid-tile>
		<mat-grid-tile>
			<b>{{
				project.invoiceItemTotal.amountAfterHandlingFee
					| currency: 'EUR':'symbol':'2.2-2':'de'
			}}</b>
		</mat-grid-tile>
		<mat-grid-tile>
			<div class="tile-content">In Rechnung gestellt</div>
		</mat-grid-tile>
		<mat-grid-tile></mat-grid-tile>
		<mat-grid-tile>
			{{
				project.invoiceItemTotal.tracker
					| currency: 'EUR':'symbol':'1.2-2':'de'
			}}
		</mat-grid-tile>
		<mat-grid-tile>
			<div class="tile-content">Differenz</div>
		</mat-grid-tile>
		<mat-grid-tile></mat-grid-tile>
		<mat-grid-tile>
			<p class="{{ toColor() }}">
				{{
					project.outgoingInvoiceAmount -
						project.invoiceItemTotal.amount
						| currency: 'EUR':'symbol':'2.2-2':'de'
				}}
			</p>
		</mat-grid-tile>
	</mat-grid-list>
</div>
