$radius: 5px !default;
$background: #eee !default;
$margin: 15px !default;
$padding: 15px !default;
$red: #ff0000 !default;
$green: #00ff00 !default;
$center-padding: 25px !default;

.card {
	border-radius: $radius;
	background-color: $background;
}

.card-content {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(3, 1fr);
	margin: 0 $margin;
	.right {
		display: flex;
		justify-content: flex-end;
		padding: 0 $padding;
	}

	.gesamtsumme {
		p {
			margin: 0;
			padding: 0;
		}
		padding-bottom: $padding;
	}
}

.card-content-header {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(3, 1fr);
	.summe {
		padding: calc($padding / 3) $padding;
	}

	.right {
		display: flex;
		justify-content: flex-end;
		padding: $padding $padding * 2;
	}
}

hr {
	width: 95%;
	height: 0;
	margin-bottom: $margin;
}

.red {
	color: $red;
}

.green {
	color: $green;
}

.center {
	display: flex;
	justify-content: flex-end;
	padding: 0 $center-padding;
}
