<div class="table {{ toClass() }}">
	<div class="first-column">
		<p>{{ position.positionName }}</p>
		<p class="mini">{{ position.positionTitle }}</p>
	</div>
	<div>
		<p>{{ position.tracker }}</p>
	</div>
	<div>
		{{ position.rate | currency: 'EUR':'symbol':'2.2-2':'de' }}
	</div>
	<div>
		{{ position.hours | number: '2.2-2' }}
	</div>
	<div>
		{{ position.amount | currency: 'EUR':'symbol':'2.3-3':'de' }}
	</div>
	<div class="sixth-column"><img src="../../assets/img/check.png" /></div>
	<div class="seventh-column"><img src="../../assets/img/dots.png" /></div>
</div>
