$img-size: 20px !default;
$header-background: #eee !default;
$content-background: #fff !default;
$margin: 10px !default;
$pruple: #ba03fc !default;
$font-size-p: 17px !default;
$font-size-h1: 22px !default;
$state-size: 20px !default;
$ready: #00ff00 !default;
$open: #ff0000 !default;
$waiting: #cccccc !default;
$check: #ffff00 !default;
$grid-radius: 5px !default;

.header {
	background-color: $header-background;

	.back {
		display: flex;
		flex-flow: row wrap;
		cursor: pointer;

		p {
			margin-left: $margin;
		}
	}
}

.content {
	padding-top: $margin;
	padding-left: $margin * 3;
	padding-right: $margin * 3;
	padding-bottom: $margin;
}

.back-to-list {
	padding: $margin 0;
}

.project-state {
	padding: $margin 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.state-container {
	display: flex;
	flex-flow: row wrap;
	.state {
		width: $state-size;
		border-radius: $state-size;
		margin-right: $margin;
	}

	.done {
		background-color: $ready;
	}

	.waiting {
		background-color: $waiting;
	}

	.check {
		background-color: $check;
	}

	.open {
		background-color: $open;
	}
}

.mat-grid-list {
	border-radius: $grid-radius;
	padding: $margin * 2;
	display: flex;
	background-color: $content-background;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-bottom: $margin * 2;
}

.purple {
	color: $pruple;
}

* {
	box-sizing: border-box;
}

p {
	font-size: $font-size-p;
}

h1 {
	font-size: $font-size-h1;
}

img {
	height: $img-size;
	width: $img-size;
}
