<div class="header">
	<div class="content">
		<div class="back-to-list">
			<div
				class="back"
				routerLink="/home"
				(click)="resetCurrentProject()"
			>
				<mat-icon> keyboard_arrow_left </mat-icon>
				<p>Zurück zur Übersicht</p>
			</div>
		</div>
		<div class="project-state">
			<div class="project-id">
				<h1>#{{ project.projectId }} {{ project.projectName }}</h1>
			</div>
			<div>
				<div class="state-container">
					<div class="state state{{ project.state }}"></div>
					<div>{{ toText() | uppercase }}</div>
				</div>
			</div>
		</div>
		<mat-grid-list cols="5" rowHeight="60px">
			<mat-grid-tile>
				<p>Zeitraum</p>
			</mat-grid-tile>
			<mat-grid-tile>
				<p>Zahlungsziel</p>
			</mat-grid-tile>
			<mat-grid-tile>
				<p>Projectverantwortlicher</p>
			</mat-grid-tile>
			<mat-grid-tile>
				<p>Rechnung freigeben von</p>
			</mat-grid-tile>
			<mat-grid-tile>
				<p>Rechnung freigeben bis</p>
			</mat-grid-tile>
			<mat-grid-tile>
				<p class="purple">
					{{ format(project.projectStart) }} -
					{{ format(project.projectEnd) }}
				</p>
			</mat-grid-tile>
			<mat-grid-tile>
				<p class="purple">{{ project.paymentTarget }}</p>
			</mat-grid-tile>
			<mat-grid-tile>
				<p class="purple">{{ project.projectManager }}</p>
			</mat-grid-tile>
			<mat-grid-tile>
				<p class="purple">{{ project.approvedBy }}</p>
			</mat-grid-tile>
			<mat-grid-tile>
				<p class="purple">
					{{ format(project.outgoingInvoiceApprovalDate) }}
				</p>
			</mat-grid-tile>
			<mat-grid-tile>
				<p>Rechnungsart</p>
			</mat-grid-tile>
			<mat-grid-tile>
				<p>Geschäftsführer</p>
			</mat-grid-tile>
			<mat-grid-tile></mat-grid-tile>
			<mat-grid-tile></mat-grid-tile>
			<mat-grid-tile></mat-grid-tile>
			<mat-grid-tile>
				<p class="purple">{{ project.invoiceType }}</p>
			</mat-grid-tile>
			<mat-grid-tile>
				<p class="purple">
					{{ project.managingDirector }}
				</p>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
</div>
