<div class="header">
	<div class="content">
		<div class="back-to-list">
			<div
				class="back"
				routerLink="/home"
				(click)="resetCurrentProject()"
			>
				<mat-icon> keyboard_arrow_left </mat-icon>
				<p>Zurück zur Übersicht</p>
			</div>
		</div>
		<div class="project-state">
			<div class="project-id">
				<h1>#{{ project.projectId }} {{ project.projectName }}</h1>
			</div>
			<div>
				<div class="state-container">
					<div class="state {{ toClass() }}"></div>
					<div>{{ toText() | uppercase }}</div>
				</div>
			</div>
		</div>
		<mat-grid-list
			[cols]="columns"
			rowHeight="120px"
			(window:resize)="resizeTable($event)"
		>
			<mat-grid-tile>
				<div class="tile-content">
					<p>Zeitraum</p>
					<p class="purple">
						{{ format(project.projectStart) }} -
						{{ format(project.projectEnd) }}
					</p>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<div class="tile-content">
					<p>Zahlungsziel</p>
					<p class="purple">{{ project.paymentTarget }}</p>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<div class="tile-content">
					<p>Projectverantwortlicher</p>
					<p class="purple">{{ project.projectManager }}</p>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<div class="tile-content">
					<p>Rechnung freigeben von</p>
					<p class="purple">{{ project.approvedBy }}</p>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<div class="tile-content">
					<p>Rechnung freigeben bis</p>
					<p class="purple">
						{{ format(project.outgoingInvoiceApprovalDate) }}
					</p>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<div class="tile-content">
					<p>Rechnungsart</p>
					<p class="purple">{{ project.invoiceType }}</p>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<div class="tile-content">
					<p>Geschäftsführer</p>
					<p class="purple">
						{{ project.managingDirector }}
					</p>
				</div>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
</div>
