$margin: 20px !default;
$font-size: 20px !default;
$img-size: auto !default;
$mini-font-size: 12px !default;
$border-width: 1px !default;
$dark-background: #eee !default;
$medium-background: rgb(250, 250, 250) !default;
$light-background: #fff !default;
$row-radius: 20px !default;
$padding: 10px !default;
$border-height: 2px !default;

* {
	font-size: $font-size;
}

p {
	padding: 0;
	margin: 0;
}

img {
	height: $img-size;
	width: $img-size;
}

table {
	margin-top: $margin;
	width: 90%;
}

[class*='mat-column'] {
	border: $border-width solid $light-background;
	padding: 0 $margin;
}

.mat-row:nth-child(odd) {
	background: $dark-background;
}

.mat-row:nth-child(even) {
	background: $medium-background;
}

.tip-container,
.tip-header,
.dots-container {
	display: flex;
	justify-content: flex-end;
}

.mini {
	font-size: $mini-font-size;
}

.mat-column-name {
	div {
		padding: calc($margin / 2);
	}
}

@media only screen and (max-width: 950px) {
	.mat-table {
		.mat-header-row {
			display: none;
		}
		.mat-row {
			display: flex;
			flex-flow: wrap column;
			height: auto;
			top: 0;
			width: 100%;
			margin: 0;
			padding: $padding * 2;
			border: $border-height solid $light-background;
			border-radius: $row-radius;
		}

		td.mat-cell:first-of-type,
		td.mat-cell:last-of-type {
			padding-left: 0;
			padding-right: 0;
			padding-top: $padding;
			padding-bottom: $padding;
		}

		[class*='mat-column'] {
			padding: 0;
			border: none;
			display: flex;
			justify-content: space-between;
			border-bottom: none;
		}

		.project-info {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}

		[data-name] {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		[data-name]::before {
			content: attr(data-name);
		}

		[data-tracker]::before {
			content: attr(data-tracker);
		}

		[data-rate]::before {
			content: attr(data-rate);
		}

		[data-hours]::before {
			content: attr(data-hours);
		}

		[data-amount]::before {
			content: attr(data-amount);
		}

		[data-tip] {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		[data-tip]::before {
			content: attr(data-tip);
		}

		[data-dots] {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		[data-dots]::before {
			content: attr(data-dots);
		}

		.mat-column-name,
		.mat-column-tracker,
		.mat-column-rate,
		.mat-column-amount,
		.mat-column-hours,
		.mat-column-tip {
			padding-top: $padding;
			padding-bottom: $padding;
			border-bottom: $border-height solid $light-background;
		}
	}
}
