<div class="table">
	<div class="status {{ toText() }}"></div>
	<div class="first-column">
		{{ toText() }}
	</div>
	<div class="second-column">
		{{ project.projectId }}
	</div>
	<div class="third-column">
		{{ project.projectName }}
	</div>
	<div class="fourth-column">
		{{ project.invoiceTarget }}
	</div>
	<div class="fifth-column">
		{{ project.amount | currency: 'EUR':'symbol':'4.2-2':'de' }}
	</div>
	<div class="sixth-column">
		{{
			project.amountPartiallyBillable
				| currency: 'EUR':'symbol':'1.2-2':'de'
		}}
	</div>
	<div class="seventh-column"><img src="../../assets/img/minus.png" /></div>
	<div class="eighth-column">
		<img
			src="../../assets/img/arrow.png"
			routerLink="/home/{{ project.projectId }}"
			(click)="setThisProjectAsCurrentProject()"
		/>
	</div>
</div>
