$margin: 10px !default;
$details-padding: 20px;

.details {
	display: flex;
	padding-bottom: $details-padding;
}

.tabs {
	margin: $margin $margin * 4 0;
	width: 65%;
}

.card {
	width: 29%;
	margin: $margin * 6 0 0;
}
