$margin: 10px !default;

.details {
	display: flex;
	padding-bottom: 20px;
}

.tabs {
	margin: $margin $margin * 4 0;
	width: 65%;
}

.card {
	width: 25%;
	margin: $margin * 6 $margin * 4 0;
}

@media only screen and (max-width: 1200px) {
	.card {
		width: 100%;
	}

	.tabs {
		width: 90%;
	}

	.details {
		flex-wrap: wrap;
	}
}
